@keyframes backgroundScroll {
 0% {
   background-position: 0px 0px
 }
 100%{
   background-position: 36px 28px
 }
}

body {
	/* BACKGROUND */
	background-image: url("background.bmp");
	background-color: #000000;
	animation: backgroundScroll 2s linear infinite;
	/* TEXT */
	text-align: center;
	color: #ffffff;
	font-family: "Comic Sans MS", /*IOS*/"Marker Felt Wide", Cursive;
}

#outerBox {
	width: 90%;
	/*min-width: 450px;*/
	max-width: 600px;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	background-color: #00000080;
}

h1 {
	font-size: 4em;
	transform: scaleY(0.4);
}

h2 {
	font-size: 1.5em;
}

a:link {
	color: red;
	font-size: 1.1em;
}

a:visited {
	color: purple;
}

a:hover {
	text-transform: uppercase;
}

a:active {
	color: pink;
	text-transform: uppercase;
}